/* dataTable */
.data {
	cursor: pointer
}

/* Icon */

.brand-icon {
	padding: 7px
}

/* Logout toggle menu */

ul.head-list > li {
	cursor: pointer;
}

/* sidebar */

a.tambah {
	cursor: pointer;
}

#mainnav-container {
	background-color: #2d3c4b !important
}