body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	background: #bdbdbd2e;
}

#btn1 {
	float: right !important;
}

::scrollbar {
    width: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

::scrollbar-thumb {
    background: royalblue;    
}

::-webkit-scrollbar-thumb {
    background: royalblue;
}

.container {
	margin: 0px 15px 0px 15px;
}

.container>.content {
	margin-top: 3em;
	margin-left: 4.8%;
	margin-right: 4.5%;
}

.navbar {
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 10rem;
	width: 100%;
	position: fixed;
	background: #1976d2;
	box-sizing: border-box;
	box-shadow: 1px 0.5px 2px 1px rgba(57, 52, 52, 0.38);
	z-index: 9;
}

.navbar li {
	list-style-type: none;
	display: inline-block;
	margin: -10px 0px -10px 0px;
	padding: 5px 0px
}

li .navbar-brand {
	font-family: 'hastro';
	color: #fafafa;
	font-size: 18.5px
}

.navbar .search-bar .navbar-brand:hover {
	background: none !important
}

.search-bar {
	width: auto;
	margin-left: 28.7% !important;
	background: #01579bcf !important;
	padding: 5px 10px;
	border-radius: 3px;
	overflow: hidden
}

.search-bar>div>input {
	margin-right: 8px;
	width: 300px;
	background-color: transparent;
	border: none;
	color: #fafafa;
	line-height: 2;
}

.search-bar>div>input:focus {
	border: none !important;
	outline: none;
}

.search-bar>div>input::placeholder {
	text-indent: 5px;
	color: #fafafab3;
}

.search-bar>div>button {
	color: #fafafab3;
	float: left;
}

.search-bar>div>input:focus .search-bar>div>button {
	color: #fafafa
}

.add-on {
	border: none !important;
	color: #fafafab3;
	transition: color 0.3s;
	padding: 5px 10px;
}

.add-on:hover {
	color: #f2f2f2;
	transition: color 0.3s
}

/*Card*/

.card {
	border-radius: 3px;
	line-height: 1.5;
	width: 360px;
	overflow: hidden;
	background: #fff;
	box-shadow: 1px 1px 1px 1px #00000030;
	transition: all 0.2s;
}

.card-content {
	overflow: hidden;
	height: 10rem;
	padding: 1em;
}

.card-footer {
	background: #fff;
}

.card-header {
	overflow: hidden;
	position: relative;
}

.card-header::after {
	content: '';
	position: absolute;
	background: #fafafa;
	width: 104%;
	height: 40px;
	z-index: 1;
	transform: skew(0, 5deg);
	margin-top: -20px;
	transition: all 0.2s;
}

.card-header::before {
	content: '';
	position: absolute;
	background: #007eff;
	width: 104%;
	height: 40px;
	z-index: 1;
	transform: skew(0, -3deg);
	bottom: -20px;
	/*opacity: 0.9;*/
	transition: all 0.2s
}

/* Account pic*/

.card-header>.card-person>img {
	height: 50px;
	position: absolute;
	width: 50px;
	border-radius: 50%;
	margin: 0.7em 10px;
	z-index: 1;
	cursor: pointer;
}

.card-img-content {
	height: 15rem;
	background: #000;
}

.card-img-content img {
	width: 100%;
	height: 15rem;
	transition: all 0.2s;
}

.card:hover .card-img-content>img {
	transform: scale(1.5) rotate(-8deg);
	height: 15rem;
	z-index: -1;
	opacity: 0.6;
	box-shadow: 1px 1px 1px 30px #222;
	transition: all 0.2s;
}

.card-title {
	font-family: 'hastro';
	font-size: 105%;
	color: #212121;
	margin-top: -0.9em;
	cursor: pointer;
}

.card-content:not(.card-title) {
	color: #424242;
	padding-left: 20px;
}

.card-footer {
	padding: 10px 0 10px 20px;
}

.card-footer>button {
	cursor: pointer;
	padding: 8px 16px;
	border: none;
	font-weight: 500;
	line-height: 154%;
	border-radius: 3px;
}

.card-footer>button:nth-child(1) {
	color: #F5F5F5;
	background: #1976D2;
}

.card-footer>button:nth-child(2) {
	color: #424242;
	background: #fff;
	transition: all 0.4s;
}

.card-footer>button:nth-child(2):hover {
	background: #E0E0E0;
	transition: all 0.4s;
}

/* This loader i got from https://codepen.io/briangonzalez/pen/ByzKw */

.circle {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
	-moz-box-shadow: 1px 1px 20px #666;
	-webkit-box-shadow: 1px 1px 20px #666;
	box-shadow: 1px 1px 20px #666;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	/* animation: hidden-out 2s ease-out; */
	transform: scale(1)
}

@keyframes hidden-out {
	100% { transform: scale(-1) }
	/* 100% { transform: scale(-2) }	 */
}

.inner {
	position: relative;
	width: 100%;
	height: 100%;
}

.inner .full {
	background: #1f9343;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	z-index: 1;
}

.inner .semi-wrap {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.inner .semi-wrap .semi-t {
	position: absolute;
	top: 0;
	left: 0;
	background: #2552d9;
	width: 100%;
	height: 50%;
	-moz-border-radius: 100px 100px 0 0px;
	-webkit-border-radius: 100px;
	border-radius: 100px 100px 0 0px;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation: fold-up 2s infinite;
	animation: fold-up 2s infinite;
}

.inner .semi-wrap .semi-t.red {
	opacity: 0;
	background: #d7282a;
	-webkit-animation: fold-down 2s infinite;
	animation: fold-down 2s infinite;
}

.inner .semi-wrap .semi-t.red.appear {
	opacity: 0;
	background: #d7282a;
	-webkit-animation: top-appear 2s infinite;
	animation: top-appear 2s infinite;
}

.inner .semi-wrap .semi-r {
	position: absolute;
	top: 0;
	right: 0;
	background: #2552d9;
	width: 50%;
	height: 100%;
	-moz-border-radius: 0 100px 100px 0;
	-webkit-border-radius: 0;
	border-radius: 0 100px 100px 0;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	z-index: 30;
}

.inner .semi-wrap .semi-r.yellow {
	background: #deba00;
	-webkit-animation: fold-left 2s infinite;
	animation: fold-left 2s infinite;
}

.inner .semi-wrap .semi-r.yellow.appear {
	opacity: 0;
	background: #fcd800;
	-webkit-animation: right-appear 2s infinite;
	animation: right-appear 2s infinite;
}

@-webkit-keyframes fold-up {
	0% {
		-moz-transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
		transform: rotateX(180deg);
	}
	25% {
		-moz-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		opacity: 1;
	}
	26% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fold-up {
	0% {
		-moz-transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
		transform: rotateX(180deg);
	}
	25% {
		-moz-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		opacity: 1;
	}
	26% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fold-down {
	0%,
	25% {
		-moz-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		opacity: 0;
	}
	26% {
		opacity: 1;
		background: black;
	}
	50% {
		-moz-transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
		transform: rotateX(180deg);
		opacity: 1;
		background: #d7282a;
	}
	100% {
		-moz-transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
		transform: rotateX(180deg);
		opacity: 1;
	}
}

@keyframes fold-down {
	0%,
	25% {
		-moz-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		opacity: 0;
	}
	26% {
		opacity: 1;
		background: black;
	}
	50% {
		-moz-transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
		transform: rotateX(180deg);
		opacity: 1;
		background: #d7282a;
	}
	100% {
		-moz-transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
		transform: rotateX(180deg);
		opacity: 1;
	}
}

@-webkit-keyframes top-appear {
	0%,
	25% {
		opacity: 0;
	}
	26% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes top-appear {
	0%,
	25% {
		opacity: 0;
	}
	26% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fold-left {
	0%,
	50% {
		opacity: 0;
	}
	51% {
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
		background: #987400;
		opacity: 1;
	}
	100% {
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
		background: #fcd800;
		opacity: 1;
	}
}

@keyframes fold-left {
	0%,
	50% {
		opacity: 0;
	}
	51% {
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
		background: #987400;
		opacity: 1;
	}
	100% {
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
		background: #fcd800;
		opacity: 1;
	}
}

@-webkit-keyframes right-appear {
	0%,
	50% {
		opacity: 0;
	}
	51% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes right-appear {
	0%,
	50% {
		opacity: 0;
	}
	51% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}